@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply scroll-smooth tracking-wide;
    font-family: "Space Mono", Cantarell, Inter, sans-serif;
}

/* default transition (dt) */
.dt {
    @apply transition-[color,background,box-shadow,opacity,border,transform] duration-300;
}

a,
a *,
button,
button *,
.font-nomono {
    @apply tracking-normal;
    font-family: Cantarell, Inter, sans-serif;
}

section {
    @apply py-16 px-4 md:px-8 lg:px-16 scroll-mt-16 lg:scroll-mt-20;
}

section:not(:first-of-type) {
    @apply lg:px-24;
}

section:not(:last-child):not(:first-of-type) {
    @apply border-gray-200 dark:border-[#2f2f2f] border-b-[1px] transition-[border] duration-300;
}

#contact form input,
#contact form textarea {
    @apply text-gray-900;
}
